---
import Layout from '../layouts/Layout.astro';
---
<Layout title="About | Artifact Studio">
  <section class="max-w-5xl mx-auto px-6 py-20">
    <h1 class="text-5xl font-header font-black leading-relaxed">About.</h1>
    <p class="mt-4 text-stone-600 bg-slate-200 rounded-lg p-4">Artifact Studio is a Owner-Operated storefront based in the middle of Waihi. <br>
    Andrew worked in the precision manufacturing environment of carbon fibre based Racing Yachts and <br>
  Super-yachts for over 10 years.</p>

  <p class="mt-4 text-stone-600 bg-slate-200 rounded-lg p-4">In 2017 he started Waihi Beach Gallery with a former partner and
    got the framing bug when a client offered him framing equipment for sale. </p>

  </section>
</Layout>
