---
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | Artifact Studio">
  <section class="max-w-5xl mx-auto px-6 py-20">
    <h1 class="text-5xl font-header font-black leading-relaxed">About.</h1>
    <div class="grid grid-cols-2 gap-x-10">
      <p class="mt-4 text-base font-body leading-relaxed">
        Artifact Studio is a Owner-Operated storefront based in the heart of
        Waihi, New Zealand. <br /><br />
        Andrew is an experienced professional in the field of precision manufacturing 
        and has years of experience displaying a variety of different art mediums.
        <br /><br />
        Having been involved in building Carbon Fibre composite Racing Yachts and Super-yachts
        in a previous career he brings attention to detail and care to every project.
        <br /><br />
      </p>

    <div class="border-s border-brand-accent/10 max-w-5xl mx-auto px-12">
      <p class="mt-4 text-base font-body leading-relaxed">
        In 2017 he started Waihi Beach Gallery with a former partner and got
        into Picture Framing due to a little seridipty and the local demand for his skills. <br><br>
        In 2022 he decided to move on from Waihi Beach Gallery and started his own business, Artifact Photo and Frame. <br><br>
        

      </p>
    </div>
  </div>
  </section>
</Layout>

